@font-face {
	font-family: 'Conv_PT Sans';
	src: url(../fonts/PTSans.eot);
	src: local('☺'), url(../fonts/PTSans.woff) format('woff'), url(../fonts/PTSans.ttf) format('truetype'), url(../fonts/PTSans.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}