<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Moomoohk's site. Contains all my major Java projects.">
		<meta name="robots" content="index, follow">

		<!-- @reload -->

		<link href="http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

		<!-- @stylesheet normalize style prettify -->
		<!-- @javascript jquery-1.8.3.min slideshow prettify konami -->

		<link href="<!-- @path favicon.ico -->" rel="shortcut icon">
		<title><!-- $title | moomoohk --></title>
		<script type="application/javascript">
			$(document).ready(function() {
				/* Oh what's this */
				new Konami(function() {
					var audioElement = document.createElement("audio");
					audioElement.setAttribute("src", "<!-- @path aristotle -->");
					audioElement.setAttribute("autoplay", "autoplay");
				});
				prettyPrint();
				$("ol.linenums").each(function(index) {
					if ($(this).children().length == 1)
						$(this).remove();
				});
				var textContents = $("#footer").text().trim();
				$("#footer").on("mouseenter", function() {
					$(this).text("Return to top");
				}).on("mouseleave", function() {
					$(this).text(textContents);
				}).mousedown(function(event) {
					if (event.which == 1)
						$("html, body").animate({
							scrollTop : 0
						}, 400);
				});
			});
		</script>
	</head>

	<body>
		<header>
			<!-- @include _nav -->
		</header>
