.slideshow {
  border: 1px solid #505050;
  border-radius: 5px;
  border-bottom: none;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.currentSlideContainer {
  position: relative;
}

.currentSlideContainer.link {
  cursor: pointer;
}

.currentSlide {
  border-radius: 4px;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 400px;
}

.currentSlideText {
  cursor: default;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
  max-height: 50px;
  overflow-y: auto;
  opacity: 0.5;
  text-align: center;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/* http://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* http://css-tricks.com/using-flexbox/ */
.ribbon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 90px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5px;
  white-space: nowrap;
  background-color: #505050;
}

.thumbnail {
  height: 75px;
  vertical-align: middle;
  border: 0px solid #A8A8A8;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-transition: height 0.2s ease,
    border-width 0.2s ease;
  -moz-transition: height 0.2s ease,
    border-width 0.2s ease;
  -o-transition: height 0.2s ease,
    border-width 0.2s ease;
  transition: height 0.2s ease,
    border-width 0.2s ease;
}

.thumbnail.selectedThumbnail {
  border-width: 3px;
  height: 84px;
}

.thumbnail:hover {
  height: 80px;
}

.thumbnails {
  overflow-x: auto;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 89px;
}

.slideshowControl {
  flex: none;
  width: 30px;
  height: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  background-color: #E6E6E6;
  text-align: center;
  line-height: 85px;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.slideshowControl:hover {
  background-color: lightGray;
}

.slideshowControl:active {
  background-color: darkGray;
}